## Question 1

In [5]:
def divnotmul(div, not_mul, start, end):
        myl = []
        for i in range(start, end+1): #we include the end in the loop
                if i % div == 0 and i % not_mul != 0: #we check if its divisible by 7 and 5
                        myl.append(i) #the conditions are met, we add it to the list
        return myl

In [20]:
def simple_divnotmul(div, not_mul, start, end): #the same thing but in one line using booleans and filter function with lambda
        return list(filter(lambda x: True if x%div == 0 and x% not_mul != 0 else False, range(start, end+1)))

In [21]:
divnotmul(7,5,2000,3200)

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [22]:
simple_divnotmul(7,5,2000,3200)

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

## Question 2

In [23]:
def factorial(n):
        fact = 1 #it is a multiplication so we have to start with 1
        for i in range(2,n+1): #we don't have to repeat 1*1 so we start from 2 until n+1 to include the n
                fact = fact*i #we do the product
        return fact

In [30]:
import numpy as np

In [36]:
def simple_factorial(n): #simplified version using numpy product and range
        return int(np.prod(range(2,n+1)))

In [37]:
print(factorial(5))
print(factorial(0))

120
1

In [38]:
print(simple_factorial(5))
print(simple_factorial(0))

120
1

## Question 3

In [41]:
def squared_dict(val):
        sqr_dict = {}
        for i in range(1,val+1): #we start from 1 and include the val
                sqr_dict[i] = i**2 #power 2
        return sqr_dict

In [73]:
def simple_squared_dict(val): #same but in one line
        return {i : i**2 for i in range(1,val+1)}

In [74]:
squared_dict(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [75]:
simple_squared_dict(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

## Question 4

In [80]:
def remove_char_at_index(string, index): #using slicing and string concatenation
        return string[:index] + string[index+1:]

In [81]:
print(remove_char_at_index("kitten", 4))
print(remove_char_at_index("kitten", 0))
print(remove_char_at_index("kitten", 1))

kittn
itten
ktten

## Question 5

In [91]:
def nparray_to_list(nparray):
        return nparray.tolist()

In [93]:
print(nparray_to_list(np.array([1,2,3])))
type(nparray_to_list(np.array([1,2,3])))

[1, 2, 3]

list

## Question 6

In [95]:
def array_cov(arr1, arr2):
        return np.cov(arr1, arr2)

In [96]:
array_cov(np.array([0,1,2]), np.array([2,1,0]))

array([[ 1., -1.],
       [-1.,  1.]])

## Question 7

In [100]:
from math import sqrt

In [101]:
def calc_Q(*D): #the *D means that we can input as many arguments as we wish without transforming it to a structure
        return tuple(map(lambda x: int(sqrt((2*50*x)/30)), D)) #we calculate the given equation in one line using map and lambda, we also cast it to int to round it up

In [102]:
calc_Q(100,150,180)

(18, 22, 24)